@keyframes slidein {
    0% {
        right: -50%;
        top: 50%;
        transform: translateY(-50%) translateX(50%);
    }
  
    100% {
        right: 50%;
        top: 50%;
        transform: translateY(-50%) translateX(50%);
    }
}
