:root {
    --font-family: "Poppins", sans-serif;
    --second-family: "Montserrat", sans-serif;
    --third-family: "Roboto", sans-serif;
    --font3: "Raleway", sans-serif;
    --font4: "Vela Sans", sans-serif;
    --font5: "Inter", sans-serif;
  }