.header{
    background-color: #000;
    position: relative;
    margin: 0 auto;
    &__last-chance{
        background-color: #ec6566;
        font-family: var(--font5);
        font-weight: 400;
        font-size: 12px;
        line-height: 150%;
        color: #fff;
        text-align: center;
        height: 24px;
        padding-top: 2px;
    }
    &__wrapper{
        background: #000;
        height: 80px;
        padding-left: 32px;
        padding-top: 25px;
        display: flex;
        align-items: center;
        
    }
    &__logo{
        margin-right: 8px;
    }
    &__burger-btn{
        border: none;
        width: 35px;
        height: 35px;
        background-color: transparent;
    }
    &__burger{
        width: 35px;
        height: 35px;
    }
    
}