.navigation{
    background-color: #fff;
    position: fixed;
    height: 100vh;
    top: 0;
    right: 100%;
    z-index: 5;
    padding-top: 15px;
    transition: 0.5s all;
    width: 100%;
    &_active{
        right: 0;
    }
    &__wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__close-btn{
        border: none;
        width: 24px;
        height: 24px;
    }
    &__list{
        list-style-type: none;
        padding: 0;
        margin: 0;
        margin-top: 24px;
    }
    &__item{
        margin-bottom: 24px;
        position: relative;
        &:nth-child(4) {
            &::after{
                content: '';
                width: 350px;
                height: 1px;
                background-color: #C1C1C1;
                position: absolute;
                left: -10px;
                top: 48px;
            }
        }
    }
    &__text{
        font-family: var(--font-family);
        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        color: #000;
    }
    &__link{
        display: flex;
        justify-content: space-between;

        &:hover{
            text-decoration: none;
        }
    }
}